<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.avazu.demo.ad"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_OWNER_DATA" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.avazu.ad.AVAZU_AD_SERVICE"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="MainActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="AdControlActivity" >
        </activity>
        <activity android:name="AdShowActy" >
        </activity>
        <activity android:name="AdCustomizedActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name="com.avazu.ad.AvazuActy"
            android:theme="@android:style/Theme.Dialog"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance"
            android:excludeFromRecents="true"
            >
            <intent-filter >
                <action android:name="com.avazu.demo.ad.SHORT_CUT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <service android:name="com.avazu.ad.AvazuWorkingService">
            
        </service>
        <activity
            android:name="com.avazu.ad.AvazuDummyActy"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.NoDisplay"
            >
            <intent-filter >
                <action android:name="com.avazu.demo.ad.SHORT_CUT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="AdBannerSingleDemo"
            android:screenOrientation="landscape"></activity>
        <activity android:name="AdBannerWallDemo"
            android:screenOrientation="portrait"></activity>
        <activity android:name="AdRectWallDemo"
            android:screenOrientation="landscape"></activity>
        <activity android:name="AdRectSingleDemo"
            android:screenOrientation="portrait"></activity>
        <activity android:name="AdBannerSingleDemo2"
            android:screenOrientation="portrait"></activity>
        
    </application>

</manifest>